JP/.idea/.name
JP/AI dungeon/app/__pycache__/app.cpython-38.pyc
JP/AI dungeon/app/__pycache__/kobold_ai.cpython-38.pyc
JP/AI dungeon/app/__pycache__/main.cpython-38.pyc
JP/AI dungeon/app/__pycache__/stable_diffusion.cpython-38.pyc
MS/.idea/