{% extends 'base.html' %}

{% block content %}
<div class='header'>
		<a href='/'> <!-- <h2> home :) </h2> </a> -->
		<img src="{{ url_for('static', filename='home.png') }}"
		 height = 75px, width = 75px, style = "padding-top: 30px;"> </a>
</div>

<div class='main'>
	<h2> ~ Choose a theme for your adventure ~ </h2>

	<form method='POST'>
		<input type="text" id="art_style" name="art_style" class="input"/>
        <a href=game><button class='play' type="submit"> Begin!</button> </a>
    </form>
	<h5> If you you make your adventure too scary, we are not responsible for the nightmares! </h5>
    </form>
</div>

{% endblock %}
