{% extends 'base.html' %}

{% block content %}

<div class='main'>
	<!-- <h2 style = "margin-bottom: 10px; padding-bottom: 0px;"> typey type type ~ </h2> -->
	<img src="{{ user_image }}" alt="User Image">

    {% for page in page_text %}
    	{{ page }}</br>
    {% endfor %}

	<P> What do you do now? </P>
	<form method='POST'>
		<input type="text" id="user_input" name="user_input" class="input"/>
        <button class='play' type="submit">Continue ...</button> </a>
    </form>


	<h5> if you don't obey our rules we will not be held responsible for what our lil dungeon does :) </h5>
</div>

{% endblock %}
