{% extends 'base.html' %}

{% block content %}
<head>
	<!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity=
"sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous" />
</head>
<div class='header'>
		<a href='/'><button class='play' type="submit">Home</button> </a>
</div>

<div class='main'>
	<h2> ~ Choose a location for your adventure ~ </h2>
	
	<form method='POST'>
		<input type="text" id="location" name="location" class="input"/>
        <a href=art_style><button class='play' type="submit">Next</button> </a>
    </form>
	<h5> If you you make your adventure too scary, we are not responsible for the nightmares! </h5>
</div>

	



{% endblock %}
